@import url('https://fonts.googleapis.com/css2?family=Cambo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Cambo', serif;
}

main {
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;

}


.registro {
    display: flex;
    padding: 50px 0px;

}


.formulario{
    width:100%;
   justify-content: center;
    align-items: center;
    text-align: left;
    line-height: 60px;
    padding: 10px 0;
    color:black;
    font-weight: 400;
    font-size: 20px; 
     
}
.formulario input {
    background-color: rgba(62, 65, 63, 0.268);
    border-radius: 10px;
    font-size: 25px;

}
.formulario button {
    font-size: 20px ;
    background-color: black;
    color:white;
    border-radius: 10px;
    font-size: 25px;

}

footer{
    background-color: white;
    color: cornsilk;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
}

footer a,
footer p{
    color:rgb(39, 37, 68);
    font-weight: 300;
    font-size: 14px;
    margin: auto;
   
    
}
footer img{
   width: 50px;
    border-radius: 15px;
  
  

}

.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px
}

.footer-img {
    display: flex;
    flex-direction: row;
    
}


   






    
    

